
<h1><%=@artist.name%></h1>

<h3>All songs</h3>

<ol id="song_list">
  <% @artist.songs.each do |song|%>
    <li class="song", id="<%= song.id %>"> <%= song.name %>
      <!-- <%= link_to "Play song", url_for([@artist, song]), class: "btn btn-primary" %> -->
      <%= link_to "Delete song", artist_song_path(@artist, song), id: song.id, class: "btn btn-primary delSong" %>
    </li>
  <% end %>
</ol>
<a id="delAllSongs", class="btn btn-primary", href="#">Delete all songs</a>

<!-- <%= link_to "Add new song", new_artist_song_path(@artist), class: "btn btn-primary" %>  -->
<hr>
<%= render "form"%>

<hr>

<!-- To give with ajax so it knows the current artist path -->
<input type="hidden" id="artist_id" value="<%= @artist.id %>">
