
<h1><%=@artist.name%></h1>

<h3>All songs</h3>

<ol id="songList">
  <% @artist.songs.each do |song|%>
    <li class="song"> <%= song.name %>
      <!-- <%= link_to "Play song", url_for([@artist, song]), class: "btn btn-primary" %> -->
      <!-- <%= link_to "Delete song", artist_song_path(@artist, song), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?" } %> -->
    </li>
  <% end %>
</ol>

<!--
<%= link_to "Add new song", new_artist_song_path(@artist), class: "btn btn-primary" %> -->
<hr>
<%= render "form"%>

<hr>

<!-- To give with ajax so it knows the current artist path -->
<input type="hidden" id="artist_id" value="<%= @artist.id %>">
